//body
$body-bg: #E7E5E5;
$wrapper-background-color: #FFFFFF;

//fonts
$basic-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;

//screen width
$desktop: 1200px;
$tablet: 768px;
$mobile: 576px;

//button
$button-bg-color: #81B3D2;
$button-hover-bg-color: #669EC0;
$button-disabled-bg-color: #E5E5E5;
$button-active-bg-color: #5496BD;
$button-font-color: #FFFFFF;
$button-active-font-color: rgba(#FFFFFF, 0.3);

//checkbox
$radio-btn-bg-color: #F2F2F2;
$radio-after-bg-color: #333333;

//input
$text-input-label-font-color: #333333;
$text-input-bg-color: #F2F2F2;
$text-input-font-color: #000000;

//header
$mobile-desktop-header-nav-item-bg: #81B3D2;
$mobile-desktop-header-nav-item-active-bg: #5496BD;
$mobile-desktop-header-nav-link-active-color: rgba(255, 255, 255, .3);
$mobile-burger-color: #81B3D2;
$mobile-burger-active-color: rgba($mobile-burger-color, .3);
$mobile-burger-close-color: #FFFFFF;
$mobile-burger-close-active-color: rgba($mobile-burger-close-color, .3);

$desktop-header-nav-link-color: #000000;
$desktop-header-nav-link-active-color: #766357;
$desktop-header-nav-link-focus-color: rgba(0, 0, 0, .3);
$desktop-header-nav-link-active-hover-color: #604E43;

// city
$city-text-font-color: #000000;
$city-list-item-has-img-background-color: #81B3D2;
$city-list-item-has-img-font-color: #FFFFFF;
$city-list-item-background-color: #EEEEEE;
$city-list-item-title-font-color: #000000;
$city-list-item-text-font-color: #333333;
$city-item-pseudo-background-color: #D6D6D6;
$city-desc-list-background-color: #FFFFFF;

//about
$about-img-background-color: #81B3D2;
$about-img-font-color: #FFFFFF;
$about-title-font-color: #000000;
$about-text-font-color: #333333;
$about-background-color: #EEEEEE;

//promo
$promo-descr-font-color: #000000;
$promo-text-font-color: #333333;

//booking
$booking-title-font-color: #000000;
$booking-text-font-color: #333333;
$booking-pointer-bg-color: #81B3D2;
$booking-pointer-border-color: #FFFFFF;

//form
$form-title-font-color: #000000;
$form-text-font-color: #333333;
$form-border-color: #E5E5E5;