.booking {
  position: relative;

  &__container {
    padding: 33px 20px 49px 20px;
    text-align: center;
    @include tablet {
      padding: 57px 155px 58px 155px;
    }
    @include desktop {
      padding: 57px 371px 66px 371px;
    }
  }

  &__title {
    font-family: $basic-family;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $booking-title-font-color;
    @include tablet {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }

  &__text {
    font-family: $basic-family;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: $booking-text-font-color;
    margin-bottom: 27px;
    @include tablet {
      margin-bottom: 37px;
    }
    @include desktop {
      margin-bottom: 42px;
    }
  }

  &__pointer {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: $booking-pointer-bg-color;
    border: 5px solid $booking-pointer-border-color;
    position: absolute;
    bottom: 161px;
    left: 50%;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;

    @include tablet {
      height: 350px;
    }
  }
}