.checkbox {
  display: flex;
  align-items: center;
  font-family: $basic-family;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;


  &__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
  }

  &__pseudo {
    height: 58px;
    width: 58px;
    border-radius: 8px;
    background-color: $checkbox-bg-color;
    margin-right: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color .3s ease, background-image .3s ease;
  }

  @include tablet {
    &:hover .checkbox__pseudo {
      background-color: $checkbox-hover-bg-color;
    }
  }

  &__input:active + .checkbox__pseudo,
  &__input._active + .checkbox__pseudo {
    background-color: $checkbox-active-bg-color;
    background-image: url('../img/icons/checked-active.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__input:checked + .checkbox__pseudo {
    background-image: url('../img/icons/checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}